<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>flashlight-combo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-flashlight-combo-demo></app-flashlight-combo-demo>
</ion-content>
