<h3>FailingGates ({{failingGates}})
    <ion-icon *ngIf="failingGates == 0" name="checkmark-circle" color="success"></ion-icon>
</h3>

<!--<editor-fold desc="Demo step 3">-->
<div *ngFor="let gate of gates">
    <div>
        <ion-button color="primary" (click)="gate.frozen = !gate.frozen">Freeze {{gate.label}}</ion-button>
        <ion-icon *ngIf="gate.frozen" name="snow" color="primary" style="margin-bottom: -15px"></ion-icon>
        <ion-icon *ngIf="gate.solved" name="checkmark-circle" color="success" style="margin-bottom: -15px"></ion-icon>
    </div>
    <ion-progress-bar style="height: 25px" color="danger" [value]="gate.percentError"></ion-progress-bar>
    <div
            class="gate-container"
            [style.background-color]="'rgb(' + gate.rgbString + ', 0)'"
    >
        {{gate.label}} <br/>
        Sensor: {{gate.sensor}} <br/>
        Solution: {{gate.key}}
    </div>
</div>
<!--</editor-fold>-->
