<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>magnet-sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-magnet-sensor-demo></app-magnet-sensor-demo>
</ion-content>
