<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>gyro-sensor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-gyro-sensor-demo></app-gyro-sensor-demo>
</ion-content>
