<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello Devcon 2019!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="./assets/animation_cw lightbulb_electricity.gif"></ion-img>
  <ion-list>
    <ion-item routerLink="/gyro-sensor">
      <ion-avatar slot="start">
        <ion-icon name="logo-game-controller-b" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label>Gyro Sensor</ion-label>
    </ion-item>
    <ion-item routerLink="/magnet-sensor">
      <ion-avatar slot="start">
        <ion-icon name="magnet" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label>Magnet Sensor</ion-label>
    </ion-item>
    <ion-item routerLink="/flashlight-combo">
      <ion-avatar slot="start">
        <ion-icon name="flashlight" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label>Flashlight Combo</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer style="color: lightgrey">
  By Andrew Barta <br/>
  Andrew@Idahobartas.com
</ion-footer>
